$primary: #0078cf;
$secondary: #000;

$bg-f: white;
//цвет фона
$bg-s: #ebebeb;
//цвет параграфов
$bg-t: rgba($secondary, 0.8);
//цвет навбара и футора

$yts: #FFFF00;
$pi: #FFA500;
$joint: #27ff09;
