@import "../css/grid.css";
//Импортирование грид сетки будстрапа

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.h1, h1 {
  font-size: 2.5rem;

}

.h2, h2 {
  font-size: 2rem;
  margin: 20px 0 15px;
}

.h3, h3 {
  font-size: 1.75rem;
  margin: 15px 0 10px;
}

.h4, h4 {
  font-size: 1.5rem
}

.h5, h5 {
  font-size: 1.25rem
}

.h6, h6 {
  font-size: 1rem
}

code {
  font-size: 87.5%;
  font-family: monospace;
  color: #e83e8c;
  white-space: pre-wrap;
}

a > code {
  color: inherit;
}
