@import ".default";
//Импорт стандартных параметров
@import ".color";
//Импорт цветовой палитры
@import ".nav";
//Импорт блока отвечающего за навигационную панель

body {
  background-color: $bg-f;
}

p {
  text-align: justify;
  text-indent: 1.5em;
  background-color: $bg-s;
  margin: 0;
  padding: 10px;
}

main {
  margin-bottom: 25px;
}

.department {
  margin-bottom: 25px;
}

.yts {
  background-color: rgba($yts, 0.3);
  padding: 0 5px;
  border-radius: 10px;
}

.pi {
  background-color: rgba($pi, 0.3);
  padding: 0 5px;
  border-radius: 10px;
}

.joint {
  background-color: rgba($joint, 0.3);
  padding: 0 5px;
  border-radius: 10px;
}

@import ".course";
//Импорт стилий для оформления курсов
@import ".footer";
//Импорт стилей футора
